@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset start */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* font-size: 62.5%; Now 10px = 1rem! */
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: Poppins, Arial, sans-serif;
  background: linear-gradient(to right, #d17608, #ec3503);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blinking outline indicator */

.blink {
  border: 4px #ff0000 solid;

  animation: blink 3s infinite;
}

@keyframes blink {
  50% {
    border-color: #fff;
  }
}

/* CSS Reset end */

h1 {
  font-size: clamp(25px, 7vh, 70px);
  font-weight: 300;
}
h1 span {
  font-weight: 800;
}

.advice {
  font-size: clamp(16px, 2.5vh, 25px);
  margin-top: 15px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  gap: 10px;
  margin: 30px auto 0;
}

.card {
  aspect-ratio: 1/1;
  perspective: 1000px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: scale(1.02);
}

.double-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.6s ease-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 5px;
  background: #f1f1f1;
  justify-content: center;
  align-items: center;
  display: flex;
}

.face img,
.back img {
  width: 60%;
}

h1,
.score,
.advice {
  text-align: center;
  color: #f1f1f1;
}

.face {
  transform: rotateY(180deg);
}

.back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.active {
  transform: rotateY(45deg);
}
